h1.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: bold;
    color: red;
}

button#my-btn.btn:hover {
    background: blue;
    border: 1px solid black;
    border-radius: 12px;
    cursor: pointer;
}